body,
html {
  height: 100%;
  margin: 0;
  /* background: url(/resources/Red-Blue-Abstract-Background.jpg) no-repeat center
    center fixed; */
  background-color: #0d6efd;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: "100vw";
  min-height: "100vh";
  z-index: 1;
  margin: auto;
  direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: center;
  font-family: roboto;
}
.quiz-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  width: 600px;
  min-width: 400px;
  background: #000000;
  padding: 30px;
  border-radius: 10px;
  border-color: rgb(202, 202, 255);
  border-style: solid;
}

li {
  list-style-position: inside;
  margin: 20px 0 20px 0;
}

.answers {
  cursor: pointer;
  padding: 10px;
  background-color: grey;
  margin: 20px;
  border: 2px;
  border-color: blue;
  border-radius: 10%;
}

input {
  border-radius: 10px;
  height: 37px;
  width: 60%;
  text-align: center;
}

label {
  margin: 10px;
}

.errorMessages {
  color: red;
}
